

<%= form_for @nurse, :url => nurses_path do |f| %>
  <%=link_to "返回",:back,:class=>"btn btn-default"%>
	<%= f.submit "新增",:class=>"btn btn-primary"%>
  
  <div class="form-group">
		<%=f.label :number,"員工編號:"%>
		<%=f.text_field :number%>
	</div>
  <div class="form-group">
		<%=f.label :name,"護士姓名:"%>
		<%=f.text_field :name%>
	</div>
	<h6>站點分配</h6>
	<div id="table">
		<%= render "table"%>
	</div>
<%end%>