<%= form_for @nurse, :url => nurse_path({:s=>@stations_add,:id=>@nurse.id}) do |f| %>

  <%=link_to "返回",nurses_path,:class=>"btn btn-default"%>
	<%= f.submit "儲存",:class=>"btn btn-primary"%>
  
  <div class="form-group">
		<%=f.label :number,"員工編號:"%>
		<%=f.text_field :number%>
	</div>
  <div class="form-group">
		<%=f.label :name,"護士姓名:"%>
		<%=f.text_field :name%>
	</div>
	<h6>站點分配</h6>
	<table class="table">
		<tr>
			<td>點擊加入</td>		
		</tr>
		<%@stations.each do |s|%>
			<tr>
			<%if params[:c]==nil%>
			<%params[:c]=@nurse.stations.ids%>
			<%end%>

				<td><%=link_to s.name,nurse_path({:c=>(params[:c]+[s.id]),:id=>@nurse.id})%></td>
			</tr>
		<%end%>
	</table>
		<table class="table">
		<tr>
			<td>點擊移除</td>			
		</tr>
		<%if @stations_add%>
			<%@stations_add.each do |s|%>
				<tr>
					<td><%=link_to s.name,nurse_path({:c=>(params[:c]-["#{s.id}"]),:id=>@nurse.id})%></td>
				</tr>
			<%end%>
		<%end%>
	</table>
<%end%>